datasets/DLRSD
datasets/DLRSD_split
datasets/iSAID
datasets/iSAID_split
datasets/LoveDA
datasets/Potsdam
datasets/uavid
datasets/UDD5
datasets/Vaihingen
datasets/VDD
pretrained/RSKT-Seg-ckpt/
output/
detectron2/
*.pth
*.log
*.pt